CompileFlags:
  Compiler: /usr/bin/g++
  Remove: [-mno-direct-extern-access]
  Add: [-std=gnu++20]

Index:
  StandardLibrary: Yes

Completion:
  AllScopes: Yes

InlayHints:
  Enabled: Yes

Diagnostics:
  UnusedIncludes: Strict
