# Build directories
build/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake

# Qt autogen
*_autogen/

# Binaries
*.exe
*.out
*.o
*.a
*.so

# Editors
.vscode/
.idea/

# Neovim swap
*.swp
*.swo
